.hello {
  padding: 10px;
  text-align: center;
}

.hello > h3 {
  padding-bottom: 10px;
  font-size: large;
}

.hello-btn {
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  cursor: pointer;
}
